<!DOCTYPE html>
<html>

<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<h1><%= title %></h1>
	<p>Welcome to <%= title %></p>
	<a href="http://localhost:3000/add/?a=9&b=2">To Add</a>
	<br>
	<a href="http://localhost:3000/multiply/?a=9&b=2">To Multiply</a>
</body>

</html>